/* HERO SECTION START */
#hero .container-fluid{
    position:relative;
}
#hero img{
    width:100%;
    height:300px;
    object-fit:cover;
}
#hero .container-fluid::after{
    content:"";
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:4px;
    background:#800000;
}
/* HERO SECTION END */

/* COURSES SECTION START */
#courses{
    padding:50px 0;
    background:#EDE8D0;
}
.course-card{
    display:flex;
    flex-direction:column;
    overflow:hidden;
    background:#fff;
    height:100%;
    border-radius:5px;
    border-bottom:4px solid #800000;
    transition:0.3s;
    box-shadow:0 5px 15px rgba(0,0,0,0.10);
}
.course-card:hover{
    transform:translateY(-5px);
    box-shadow:0 10px 30px rgba(0,0,0,0.15);
}
.course-img{
    height:200px;
}
.course-img img{
    width:100%;
    height:100%;
    object-fit:cover;
    border-radius:5px 5px 0 0;
}
.course-content{
    flex:1;
    display:flex;
    flex-direction:column;
    padding:15px;
}
.course-content h3,
.course-content p{
    color:#333333;
}
.course-content a{
    margin-top:auto;
    align-self:flex-start;
}
.btn{
    display:inline-flex;
    align-items: center;
    gap:5px;
    background:#800000;
    color:#EDE8D0;
    padding:10px 15px;
    border-radius:5px;
    text-decoration:none;
    border:none;
    transition:0.3s;
}
.btn:hover{
    background:#EDE8D0;
    color:#800000;
    transform:translateY(-2px);
}
/* COURSES SECTION END */